* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #202020;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overflow: hidden
}

body * {
    touch-action: none;
}

#container {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
}
#stage {
    width:100%;
    height:100%;
    position:absolute;
    display:block;
    z-index: -1;
    touch-action: none;
}

#title{
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    z-index: 0;
    float:left;

    color: #FFFFFF;

    font-family: 'Noto Sans';
    font-size: x-large;
}

#settings{
    position: relative;
    margin-top: 1%;
    margin-right: 1%;
    width: 15%;
    min-width: 200px;
    z-index: 0;
    
    float: right;

    background-color: rgba(100,100,100, 0.8);
    border-radius: 5px;
    color: #FFFFFF;

    font-family: 'Noto Sans';
    text-align: center;
}

#settings[open] {
    max-height: 99rem;
    transition: all 1s ease;
}

#settings_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#control_title{
    font-size:x-large;
}


.option_title{
    width: 90%;
    margin-top: 5%;
    font-size: large;
    text-align: left;
    vertical-align: middle;
}

.check_box{
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 2px;

    border-radius: 10px;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.sliders{
    width: 80%;
    height: 30px;
}

.apply_button{
    margin-top: 10%;
    width:80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;

    background-color: #0070D0;
    color: #FFFFFF;
}
.apply_button:active{
    background-color: #0050B0;
    color: #FFFFFF;
}

.set_to_defaults_button{
    margin-top: 5%;
    width:80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 16px;

    background-color: #B03030;
    color: #FFFFFF;
}
.set_to_defaults_button:active{
    background-color: #902020;
    color: #FFFFFF;
}

.particle_counter{
    margin-top: 5%;
    font-size: large;
    text-align: left;
    vertical-align: middle;
}

.fps_counter{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: large;
    text-align: left;
    vertical-align: middle;
}